/* src/styles/CartPage.css */
.cart-title {
  text-align: center; /* Center align the text */
  font-size: 3rem; /* Make the text larger */
  font-weight: bold; /* Make the text bold */
  margin-top: 20px; /* Add some margin at the top, adjust as needed */
}

.cart-page {
  padding: 20px;
  font-family: 'Arial, sans-serif';
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
}

.cart-item-details {
  flex: 1;
}

.cart-item h3 {
  font-size: 1.2rem;
  margin: 0;
}

.cart-item p {
  font-size: 1rem;
  margin: 5px 0;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}

.quantity button {
  background-color: #2596be;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.quantity button:disabled {
  background-color: #d0d0d0;
  cursor: not-allowed;
}

.remove-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #c82333;
}

.cart-total {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
}
