/* src/styles/Navbar.css */

.navbar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #2596be;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1000; /* Ensure it stays on top of other elements */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for better visibility */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin-right: auto; /* Align to the left */
  margin-left: 2rem; /* Add some space from the logo */
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #d1d5db;
}

.search-bar-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.search-bar-container input {
  margin-left: 20px; /* Adjust as needed */
}
